---
const { color } = Astro.props
let navColor = "";
if(color === "#141722"){
 navColor = "navbar-dark" 
}
---
<html>
  <head>
    <title>Rehan shah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script is:inline ="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../public/css/stylesM.css">
<meta name="viewport" content="width=device-width, initial-scale=0.5">
  </head>

  <body style=`background-color:${color}`>
<nav class={"navbar navbar-expand-lg  navbar-collapse " + navColor}>
      <div class="container-fluid">
        <a class="navbar-brand"><b>Rehan Shah</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
       <div class="navbar-collapse justify-content-end collapse" id="navbarSupportedContent" style="">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/mobile/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/mobile/Essay">Essay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/mobile/project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/Resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&amp;body=// please write an query or request you found have for me to built your software product">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script>
    window.onload = function() {
      var body = document.querySelector('body');
      body.style.transition = 'opacity 0.5s';
      body.style.opacity = 1;
    }
    </script>
  </body>
</html>
