---
import { useUserAgent } from "astro-useragent";
const uaString = Astro.request.headers.get("user-agent");
const {isMobile } = useUserAgent(uaString);
import Footer from "../comopents/footer.astro";
import Header from "../comopents/header.astro";
import "../css/global.css"
import MobileFooter from "../comopents/mobileFooter.astro";
---
<Header />
<div class="erro">
    <h1>Error 404</h1>
    <p> maybe u mistyped something , check the url again</p>
</div>
{(isMobile !== true ) && <Footer margin="40vh" /> }
