---
import "../../../public/css/stylesM.css";
import MobileFooter from "../../comopents/mobileFooter.astro";
import MobileHeader from "../../comopents/mobileHeader.astro";
import links from "../../comopents/data.json";

links.forEach((link) => {
  if (link.src === "") {
    var img =
      "http://s.wordpress.com/mshots/v1/" +
      encodeURIComponent(link.url) +
      "?w=400";
    link.src = img;
  }
});
---

<MobileHeader />
<script
  is:inline
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
></script>
<div class="project">
  <h1>My projects</h1>
  <p>
    i am a webdevloper and ios developer . i am capable of making static and
    dynmaic website . i also able to make serve for the spefic website need in
    sql and non-sqal fomrat , same can be said for ios app.
  </p>
  <a
    href="mailto:rehansnehalshah1@gmail.com?subject=hey , built for me&body=// please write an query or request you found have for me to built your software product
"
    ><img
      class="hire_me"
      src="/Project/Buttin Hire me already.svg"
      style="width: 40%;
padding-top: 20px;
padding-bottom: 20px;"
    /><img /></a
  >
  <img class="coin" src="/Project/image 24.svg" /><img />
  <div class="work">
    {
      links.map((link) => (
        <a target="_blank" href={link.url}>
          <div clcamass="word_card">
            <img class="hi" src={link.src} />
            <div class="Text" style="background-color: white;">
              <h3>{link.title}</h3>
              <p>{link.paragraph}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>

<img
  src="/Project/image 23.svg"
  class="pillar"
  style="
    width: 70%;
    position: absolute;
    top:1400px;
    z-index: -1;
"
/>

<script is:inline>
$(".hire_me").click(function () {
  $(this).attr("src", "/Project/Property 1=Hover.svg");
  setTimeout(function () {
    $(".hire_me").attr("src", "/Project/Buttin Hire me already.svg");
  }, 2000);
});

// Parllax effect
$(window).scroll(function () {
  // Get the current scroll position
  const scrollTop = $(window).scrollTop();
  let c = 200;
  // Set the top position of the images to be the current scroll position
  $(".pillar").css("top", 0.3 * scrollTop + 1400 + "px");
  $(".coin").css("top", -0.8 * scrollTop + c + "px");
});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
></script>
<MobileFooter margin="100px" />
